extends ../layouts/default

block content
    include base
    form.form-inline(method="get")
        .form-group
            label.filter-col(for="") 名称
            input.form-control(
                type="text"
                name="name"
                value=query&&query.name ? query.name : ''
            )
        .form-group
            label.filter-col(for="") 发布/发售日期
            input.datepicker.form-control(
                type="text"
                name="release_date"
                data-date-format="yyyy-mm-dd"
                value=query&&query.release_date ? query.release_date : ''
            )
        .form-group
            label.filter-col(for="") 所属栏目
            select.form-control(name="signle_cid")
                option(value='') 请选择
                +cate_options(categorys, {cids: query&&query.signle_cid?[query.signle_cid]:[]}, 0)
        br
        br
        .form-group
            label.filter-col(for="") 是否商品
            select.form-control(name="is_product")
                option(value="") 请选择
                option(value="false" selected=query ? query.is_product == 'false' : 'false') 否
                option(value="true" selected=query ? query.is_product == 'true' : false) 是
        .form-group
            label.filter-col(for="") 是否线上商品
            select.form-control(name="is_online_shop")
                option(value="") 请选择
                option(value="false" selected=query ? query.is_online_shop == 'false' : 'false') 否
                option(value="true" selected=query ? query.is_online_shop == 'true' : 'false') 是
        .form-group
            label.filter-col
            button.btn.btn-info(type="submit") 查询
    div.row
        div.col-md-12
            a.btn.btn-success(href='#{url}/add') 新增
    table.table
        thead
            th #
            th 名称
            th 所属栏目
            th 跳转链接
            th 发布/发售日期
            th 是否为商品
            th 是否为线上商品
            th 操作
        tbody
            each item,index in list
                tr
                    td= index+1
                    td= item.name
                    td
                        - ref = []
                        each cate, key in item.cids
                            - ref.push(cate.display_name)
                        - ref.join("，")
                        | #{ref}
                    td= item.url
                    td= moment(item.release_date).format('YYYY-MM-DD')
                    td= item.is_product ? '是' : '否'
                    td= item.is_online_shop ? '是' : '否'
                    td
                        .btn-group
                            a.btn.btn-info(href='#{url}/edit/#{item._id}') 改
                            a.btn.btn-danger(href='#{url}/delete/#{item._id}') 删
