extends ../layouts/default

block content
    .alert.alert-danger
        ol
            li 目前只支持在【GUNPLA】和【CHARACTER】这两个别名下的【series】和【brand】别名栏目下的子栏目才能显示广告
    form.form-horizontal(role='form' method='post' action='#{url}/save')
        +formInput("标题", "name", model, false)
        +formInput("链接", "url", model, false)
        div.form-group
            label.col-sm-2.control-label 所属栏目
            div.col-sm-10.row
                +cate_radio_list(categorys, model, 0)
        div.form-group
            label.col-sm-2.control-label 图片
            div.col-sm-10.admin_article
                input#images(type="hidden" name="image" value=model&&model.image)
                span.btn.btn-success.fileinput-button
                    i.glyphicon.glyphicon-plus
                    span 添加图片
                    input#fileuploader(
                        type="file"
                        name="files[]"
                    )
                #images_box.row
                    if model && model.image
                        .col-sm-6
                            .thumbnail
                                img(src=model.image alt="图片已不存在。点击保存按钮后，会自动删除")
                                .caption
                                    p
                                        button.btn.btn-danger(
                                            type="button"
                                            onclick="delete_imgs(this, '#{model.image}', '/category/')"
                                        ) 删
        div.form-group
            div.col-sm-offset-2.col-sm-10
                input.btn.btn-success(type="submit" value="保存")
                input(type="hidden" name="id" value=model&&model._id)

block scripts
    script.
        $(document).ready(function() {
            var uploadDir = "/uploads/"
            fileuploadInit(uploadDir, 1)
        })
