mixin cate_link(item)
    a(href="/category/#{item.id}")
        block

mixin cate_img(item)
    img(src=item.image, alt=item.name)

mixin cate_li(item)
    li
        +cate_link(item)
            +cate_img(item)
            block

mixin item_link(item, target)
    a(
        href=(item.url ? item.url : "/item/"+item._id)
        target=(item.url ? "_blank" : (target ? target : ""))
    )
        block

mixin products_li(item)
    li(style='height: 148px;')
        +item_link(item)
            img(src=item.cover_pic, width='130', height='130', alt=item.name)
            p
                span.bhs_pd_ttl(style='height: 54px;')= item.name
                span.bhs_pd_price #{item.price}
                if item.is_online_shop
                    span.bhs_pd_cat.cat_shop 线上商店
                span.bhs_pd_deliver
                    if item.is_undetermined
                        | #{moment(item.release_date).format('YYYY年MM月')} 发售
                    else
                        | #{moment(item.release_date).format('YYYY年MM月DD日')} 发售

mixin date_format(date)
    mydate= moment(date).format('YYYY年MM月DD日')

mixin product_bclist(list)
    ul
        li.home
            a(href="/") 主页
        each item, index in list
            if(index != 1)
                li
                    +cate_link(item)
                        | #{item.display_name}
        block

mixin brand_h3_title()
    h3.bhs_main_title
        p
            | 系列 · 牌子
            span SERIES / BRAND

mixin works_h3_title()
    h3.bhs_main_title
        p
            | 动漫作品 · 手办
            span WORKS / CHARACTERS

mixin cate_logo_li(item)
    +cate_li(item)
        span= item.display_name

mixin cover_pic(item)
    img(src=item.cover_pic alt=item.name)

mixin product_img_link(item)
    li
        +item_link(item)
            +cover_pic(item)

mixin page_nav(nums, curNum)
    ul.pnav.clearfix
        if(nums > 1 && curNum != 1)
            li.prev
                a(href="?page=#{curNum-1}") < 上一页
        - var n = 1
        while n <= nums
            li
                if(n==curNum)
                    span= n++
                else
                    a(href="?page=#{n}")= n++

        if(nums > 1 && curNum != nums)
            li.next
                a(href="?page=#{curNum-1}") 下一页 ›


mixin item_li(item)
    li.clearfix
        +item_link(item)
            p.bhs_info_img
                +cover_pic(item)
            p.bhs_info_cd
                +info_cate(item)
                span.bhs_info_date
                    +date_format(item.release_date)
                span.bhs_info_ttl= item.name
        p.bhs_info_txt !{item.desc}

mixin related_news(item)
    li
        +item_link(item, '_blank')
            +cover_pic(item)
            p.bhs_renews_cd
                +info_cate(item)
                span.bhs_renews_txt #{item.name}


mixin search_form_part()
    li.bhs_search_seq(style='height: 38px;')
        span Display order:
        select(name='sort')
            each it in [['new', '按发售日期从新到旧'], ['old', '按发售日期从旧到新'], ['low', '按价格低到高'], ['high', '按价格高到低']]
                option(value=it[0] selected=query.sort&&query.sort==it[0]) #{it[1]}
    li.bhs_search_cat(style='height: 38px;')
        span 商品类型:
        p
            label
                input#chk_online(name='online', value='1', type='checkbox' checked=query.online)
                span.cat_shop 线上商品
    li.bhs_search_jan(style='height: 38px;')
        span 商品编码:
        input(type='text', name='code', value='#{query.code? query.code:""}', style='ime-mode:disabled;', maxlength='16')
    li.bhs_search_pdname(style='height: 38px;')
        span 商品名称:
        input(type='text', name='name', value='#{query.name?query.name:""}')


mixin cate_options(data, select_ids)
    each it in data ? data : []
        option(
            value=it.id
            selected=!!~select_ids.indexOf(it.id)
        )
            | #{it.display_name}

mixin info_cate(item)
    - tag = item.tag ? item.tag : 'info'
    span.bhs_info_cat(
        class="cat_#{tag}"
    )
        case tag
            when 'topics'
                | 话题
            when 'event'
                | 展会
            when 'campaign'
                | 活动
            when 'online_shop'
                | 线上商店
            when 'new'
                | 新商品
            default
                | 信息
