extends ./layouts/default_detail

block bclist
    .bclist
        +product_bclist(bclists)

block col_2_content
    #bhs_page_gunpla_detail
        h2.bhs_main_title
            p
                | #{title}
                span #{subtitle}
        if ad_list
            each it in ad_list
                p
                    a(href=it.url)
                        img(src=it.image alt=it.name, width='100%')
                    br
                    strong
                        span(style='font-size: 10pt;')
                            | ▲
                            | #{it.name}

        #bhs_searchForm
            h4
                p 商品列表
            p.bhs_search_num
                | 商品总数 #{total}
            form#item_search(method='get')
                ul
                    li.bhs_search_works(style='height: 38px;')
                        - var name = {'brand': '牌子','series': '作品'}
                        span #{name[selectName]}类目:
                        select(name='cid')
                            option(value='') 请选择
                            +cate_options(selectOpts.son, [query.cid])
                    +search_form_part()
                .bhs_submit
                    button.submit_btn(type='submit')
                        span 查询
        #bhs_search_result
            h3.bhs_main_title
                p
                    | 商品一览
                    span ITEM LIST
            if pageNums
                +page_nav(pageNums, page)
            ol.bhs_pdlist_sbs
                each item in list
                    +products_li(item)
            if pageNums
                +page_nav(pageNums, page)

block script
    script.
        $(function () {
            $('#item_search').submit(function () {
                var online = $('#chk_online:checked').val();
                if (online) {
                    $('#chk_online').prev('input[type="hidden"]').prop('disabled', true);
                }
            })
        });


