extends ./layouts/default

block head
    link(rel="stylesheet", href="/css/hbs_top.css")
    script(src="/css/renew/js/slick/slick.min.js")
    script.
        $(function () {
            $('.center-item').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                centerPadding: '0',
                autoplay: true,
                appendArrows: $('#arrows'),
                centerMode: false,
                swipe: true,
                dots: true
            });
        });

block custom_content
    if sliderImgs && sliderImgs.length
        #bhs_top_slider.clearfix
            ul.slider.center-item
                each img_item in sliderImgs
                    li
                        a(href=img_item.url, target="_blank")
                            img(src=img_item.image, alt=img_item.name)
            #arrows
                .slick-next
                    img(src="/img/top/slider/common/bhs_top_slider_btn_next.png", alt="Next")
                .slick-prev
                    img(src="/img/top/slider/common/bhs_top_slider_btn_prev.png", alt="Prev")

block content
    //- 主体左
    #bhs_sideL
        #bhs_notice
            h3.bhs_title_notice
                p
                    | 特别公告
                    span NOTICES
            ul
                li !{web_cfg.web_notice.value}

        #bhs_side_gunpla
            h3.bhs_title
                p
                    | #{gunplaCate.display_name}
                    span #{gunplaCate.name}
            ul.logoList
                if gunplaBrandCate && gunplaBrandCate.son
                    each item, index in gunplaBrandCate.son
                        if index < 3
                            +cate_li(item)
                if gunplaSeriesCate && gunplaSeriesCate.son
                    each item, index in gunplaSeriesCate.son
                        if index < 3
                            +cate_li(item)
            .bhs_side_btn_more
                +cate_link(gunplaCate)
                    span 所有
        #bhs_side_chapla
            h3.bhs_title
                p
                    | #{characterCate.display_name}
                    span #{characterCate.name}
            ul.logoList
                if characterBrandCate && characterBrandCate.son
                    each item, index in characterBrandCate.son
                        if index < 3
                            +cate_li(item)
                if characterSeriesCate && characterSeriesCate.son
                    each item, index in characterSeriesCate.son
                        if index < 3
                            +cate_li(item)
            .bhs_side_btn_more
                +cate_link(characterCate)
                    span 所有
    //- 主体中
    #bhs_main
        #bhs_news
            h2.bhs_main_title
                p
                    | 新闻
                    span NEWS
            ul
                each item, index in news
                    li.clearfix
                        +item_link(item)
                            p.bhs_info_img
                                img(src=item.cover_pic, width="170", height="126", alt=item.desc, title=item.name)
                            p.bhs_info_cd
                                +info_cate(item)
                                span.bhs_info_date
                                    +date_format(item.release_date)
                            p.bhs_info_txt #{item.desc}
            .bhs_main_btn_all
                a(href="/news/")
                    span 所有
        #bhs_event
            h2.bhs_main_title
                p
                    | #{eventCate.display_name}
                    span #{eventCate.name}
                p.bhs_main_btn_all_mini
                    +cate_link(eventCate)
                        span 所有
            ul
                if eventArticles
                    each item,index in eventArticles
                        li
                            +item_link(item)
                                img(src=item.cover_pic, width="260", height="80", alt=item.name)
                                p
                                    span.bhs_event_ttl= item.name
                                    span.bhs_event_date
                                        +date_format(item.start_date)
                                        | 至
                                        +date_format(item.end_date)
        #bhs_campaign
            h2.bhs_main_title
                p
                    | #{campaignCate.display_name}
                    span #{campaignCate.name}
                p.bhs_main_btn_all_mini
                    +cate_link(campaignCate)
                        span 所有
            ul
                if campaignArticles
                    each item,index in campaignArticles
                        li
                            +item_link(item)
                                img(src=item.cover_pic, width="260", height="80", alt=item.name)
                                p
                                    span.bhs_campaign_ttl= item.name
                                    span.bhs_campaign_date
                                        +date_format(item.start_date)
                                        | 至
                                        +date_format(item.end_date)
        #bhs_future
            h2.bhs_main_title
                p
                    | #{GBWCCate.display_name}
                    span FUN TO BUILD
            ul
                if GBWCArticles
                    each item,index in GBWCArticles
                        li
                            +item_link(item)
                                +cover_pic(item)
                            p
                                span.bhs_future_ttl= item.name

    //- 主体右
    #bhs_sideR
        include ./layouts/side_right_top

        #bhs_side_newitem
            h3.bhs_title
                p
                    | 本月新品
                    span NEW ITEM
                p.bhs_side_btn_all
                    a(href="/schedule/#{now.format('YYYYMM')}")
                        span 发售表
            ul.bhs_side_item
                each it in nowProducts.length ? nowProducts : []
                    +product_img_link(it)
        #bhs_side_newitem_later
            h3.bhs_title
                p
                    | 次月新品
                    span NEW ITEMS IN NEXT MONTHS
                form
                    select#year_month.bhs_search_calender_ym(name="year_month")
                        option(value="") 选月份
                        each item in nextMonths
                            option(value="/schedule/#{item.format('YYYYMM')}/") #{item.format('MM')}月
            ul.bhs_side_item
                each it in nextMonthProducts.length ? nextMonthProducts : []
                    +product_img_link(it)
            .bhs_side_btn_more
                a(href="/schedule/#{nextMonth}")
                    span 所有
        #bhs_side_hobbyshop
            h3.bhs_title
                p
                    | 线上商品
                    span ONLINE SHOP
                br
                p.bhs_side_btn_all
                    a(href="/online_item/")
                        span 所有
            ul.bhs_side_item
                each it in onlineProducts.length ? onlineProducts : []
                    +product_img_link(it)
            .bhs_side_btn_hobby
                a(href="http://p-bandai.jp/hobby/", target="_blank")
                    p
                        span ホビーオンラインショップへ
block bhs_contents_nobg
    #bhs_contents_nobg
        .bhs_footer_line_h
            hr
        #bhs_relatedLink
            h2.bhs_main_title
                p
                    | 相关链接
                    span LINKS
            ul
                if links
                    each link in links
                        li
                            a(href=link.url, target='_blank')
                                img(src=link.image, alt=link.name)
        .bhs_footer_line_f
            hr
